.wrapper {
    width: 225px;
    margin: 0 auto;
}

.slider {
    height: 225px;
    width: 225px;
    overflow: hidden;
    margin: 30px auto;
}

.slider > img {
    height: 225px;
    width: 225px;
    float: left;
    display: hidden;
}

a{
    padding: 5px 10px;
    background-color: #F0F0F0;
    margin-top: 30px;
    text-decoration: none;
}

a.left {
    float: left;
}

a.right {
    float: right;
}

#sliderStatus {
    margin: 10px auto;
}